<div class="wrapper">
  <div class="top-row">
    <div class="style-image-container">
      <img [src]="styleImageUrl" alt="" />
    </div>
    <p>{{ styleImageName }}-Style</p>
  </div>
  <form (submit)="onSubmitForm($event)" ngNativeValidate>
    <h2>Where should we send your free artpiece?</h2>
    <input
      #email
      type="email"
      placeholder="E-Mail"
      (keyup)="onChangeEmail(email.value)"
      required
    />
    <ul>
      <li>
        <svg
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
        >
          <path
            d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm.5 17h-1v-9h1v9zm-.5-12c.466 0 .845.378.845.845 0 .466-.379.844-.845.844-.466 0-.845-.378-.845-.844 0-.467.379-.845.845-.845z"
          />
        </svg>
        <p>The painting process can take up to two hours</p>
      </li>
      <li>
        <svg
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
        >
          <path
            d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm.5 17h-1v-9h1v9zm-.5-12c.466 0 .845.378.845.845 0 .466-.379.844-.845.844-.466 0-.845-.378-.845-.844 0-.467.379-.845.845-.845z"
          />
        </svg>
        <p>Max three artpieces per user</p>
      </li>
    </ul>
    <button type="submit">Apply this Style</button>
  </form>
</div>
