@import "../../../colors.scss";
:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $secondary-color;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  color: white;
  font-family: m-reg;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.product-demo-swiper {
  height: 400px;
  width: 100%;
  margin-bottom: 2rem;
  img.swiper-slide {
    height: 100% !important;
    object-fit: cover;
  }
}

.stylized-images {
  display: flex;
  margin: 0 -10px 2rem -10px;

  & > * {
    margin: 0 10px;
  }

  & > div {
    flex-basis: calc(33.33% - 2 * 10px);
    cursor: pointer;

    & > div {
      width: 100%;
      padding-bottom: 100%;
      position: relative;

      & > div.image-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      & > div.overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-color .25s ease-in-out;
        background-color: rgba(30, 30, 30, 0.4);

      }
      & > div.stepper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -.25rem;

        & > * {
          margin: 0 .25rem;
        } 

        & > button {
          background-color: transparent;
          border: none;

          & > img {
            display: block;
            width: 1.75rem;
            height: 1.75rem;
          }
        }

        & > p {
          font-size: 1.5rem;
        }
      }
    }
  }
}



.order-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: $secondary-color;
  padding-bottom: 1rem;
  padding-top: 1rem;
  .price {
    display: flex;
    flex-direction: column;
    font-family: m-reg;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    span {
      font-size: 1rem;
    }
  }
  button {
    width: 50%;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: $primary-color;
    font-family: m-semi-bold;
    font-size: 1.4rem;
    height: 3.8rem;
  }
}

.info-toggle {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: m-bold;
  margin-bottom: 2rem;
  p {
    padding-bottom: 0.5rem;
    &.selected {
      border-bottom: solid $primary-color 2px;
    }
  }
}

.info-section {
  .swiper-slide {
    font-size: 1.4rem;
  }
}
