<div class="wrapper">
  <div class="swiper-container product-demo-swiper">
    <div class="swiper-wrapper">
      <ng-container *ngFor="let stylizedImage of stylizedImages">
        <img
          *ngFor="
            let slideshowImagePublicUrl of stylizedImage.slideshowImagePublicUrls
          "
          class="swiper-slide"
          [src]="slideshowImagePublicUrl"
          alt=""
        />
      </ng-container>
    </div>
  </div>

  <section class="product-selection">
    <h2>Select your product type</h2>
    <ul>
      <li *ngFor="let product of products; let index = index">
        <input
          [id]="product.id"
          type="radio"
          name="product"
          value="Canvas"
          [checked]="index === selectedProductIndex"
          (change)="onChangeProduct(index)"
        />
        <label [for]="product.id"> {{ product.name }} </label>
      </li>
    </ul>
  </section>

  <section>
    <h2>Set the quantity</h2>
    <div class="stylized-images">
      <div *ngFor="let stylizedImage of stylizedImages; let index = index">
        <div>
          <div class="image-wrapper">
            <img [src]="stylizedImage.publicUrl" alt="" />
          </div>
          <div class="overlay"></div>
          <div class="stepper">
            <button
              (click)="decrementStepper(index)"
              [disabled]="items[index].quantity === 0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  id="Pfad_19"
                  data-name="Pfad 19"
                  d="M9,0a9,9,0,1,0,9,9A9,9,0,0,0,9,0Zm4.5,9.75h-9V8.25h9Z"
                  fill="#fff"
                />
              </svg>
            </button>
            <p>{{ items[index].quantity }}</p>
            <button
              (click)="incrementStepper(index)"
              [disabled]="
                products[selectedProductIndex].name === 'DigitalHD' &&
                items[index].quantity === 1
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  id="Pfad_18"
                  data-name="Pfad 18"
                  d="M9,0a9,9,0,1,0,9,9A9,9,0,0,0,9,0Zm4.5,9.75H9.75V13.5H8.25V9.75H4.5V8.25H8.25V4.5h1.5V8.25H13.5Z"
                  fill="#fff"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="order">
    <p class="price">Total: {{ totalPrice }}€ <span>VAT inclusive</span></p>
    <button (click)="onClickCheckoutButton()" [disabled]="totalPrice === 0">
      Check-Out
    </button>
  </section>

  <section class="info">
    <div class="info-toggle">
      <p
        [class.selected]="isDesriptionSlideActive"
        (click)="toggleProductInfo(0)"
      >
        Description
      </p>
      <p
        [class.selected]="!isDesriptionSlideActive"
        (click)="toggleProductInfo(1)"
      >
        Shipping
      </p>
    </div>
    <div class="swiper-container product-info-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide description">
          <h2>Do you like our work on your photo?</h2>
          <p>
            🐾 Is your pet one of a kind? If so, they deserve a one of a kind
            piece of art.
          </p>
          <p>
            🎁 It is the pawfect gift or memorial for your little buddy! It's
            creative & unique!
          </p>
          <p>
            🤖 Your Image is created by our AI-Artists and who can say they have
            their pet painted by artificial intelligence? What a great
            conversation starter!
          </p>
          <p style="margin-bottom: 2rem">
            🎨 Our artists can create a high resolution version of your artwork
            and if you want - we can even print it for you!
          </p>
          <h2>Digital File (Premium Version)</h2>
          <p>
            🤖 To get the most out of your picture our ai will put hours into
            the perfection of your artwork!
          </p>
          <p style="margin-bottom: 2rem">
            ✨ When it is finished you will get a 2160px digital image sent to
            your e-mail. You could use it as a desktop or phone background or
            print and frame it!
          </p>
          <h2>High Quality Artwork</h2>
          <p>
            🖨️ Let us professionally print and ship you the artwork from one of
            our partners
          </p>
          <p>📐 The artwork will be 30x45cm in size</p>
          <p>
            🖼️ Museum-quality poster made on long-lasting semi-glossy (silk)
            paper
          </p>
          <p>
            ✔️ The digital premium version is inclusive and will be send to your
            e-mail
          </p>
        </div>
        <div class="swiper-slide shipping">
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
      </div>
    </div>
  </section>
</div>
