<div class="slider-wrapper">
  <button
    class="add-btn"
    [class.add-btn-hide]="shouldShowFitStyleView"
    [ngClass]="{
      'animate__animated animate__pulse animate__infinite': showAttentionSeekerUpload
    }"
    (click)="openUploadModal()"
  >
    <img src="/assets/icons/image-add.svg" alt="" />
  </button>
  <button
    [class.btn-hide]="selectedStyleIndex === undefined"
    [class.btn-back]="shouldShowFitStyleView"
    class="apply-style-btn"
    (click)="changeShouldShowFitStyleView.emit(!shouldShowFitStyleView)"
  >
    {{ shouldShowFitStyleView ? "Back" : "Apply This Style" }}
  </button>

  <create-submit
    [styleImageName]="styleImages[selectedStyleIndex]?.name"
    [styleImageUrl]="styleImages[selectedStyleIndex]?.publicUrl"
    *ngIf="shouldShowFitStyleView"
    (submitForm)="submitForm.emit($event)"
  ></create-submit>

  <div class="overflow-hide" *ngIf="!shouldShowFitStyleView">
    <h2 *ngIf="uploadedImage">Choose Style</h2>
    <div
      [class.animate__fadeInUpBig]="!isHorizontalMode"
      [class.animate__fadeInRightBig]="isHorizontalMode"
      *ngIf="!imageActive && styleImages?.length > 0 && uploadedImage"
      class="animate__animated swiper-container swiper-img-style style-swiper"
      #styleSwiper
    >
      <div class="swiper-wrapper">
        <shared-style-circle
          *ngFor="let styleImage of styleImages"
          [styleImage]="styleImage"
          [verticalLayout]="!isHorizontalMode"
          class="swiper-slide"
        ></shared-style-circle>
      </div>
    </div>

    <h2 *ngIf="selectedStyleIndex !== undefined">Artworks with this Style</h2>
    <h2 *ngIf="!uploadedImage">Created Artworks</h2>

    <div
      *ngIf="selectedStyleIndex !== undefined || !uploadedImage"
      class="animate__animated swiper-container swiper-img-style img-swiper"
      #imgSwiper
      [class.animate__fadeInUpBig]="!isHorizontalMode"
      [class.animate__fadeInRightBig]="isHorizontalMode"
      [class.style-selection-active]="selectedStyleIndex !== undefined"
    >
      <div class="swiper-wrapper">
        <img
          *ngFor="
            let matchingStylizedImagePreview of matchingStylizedImagePreviews;
            let i = index
          "
          [src]="matchingStylizedImagePreview.publicUrl"
          alt=""
          class="swiper-slide selected"
        />
      </div>
    </div>
  </div>
</div>
