<div class="product-flow-wrapper">
  <div class="flow-step">
    <h2>1</h2>
    <h3>Lade dein Foto hoch</h3>
    <p>
      Such dir ein Bild deines Haustiers aus und lade es auf die Webseite hoch
    </p>
    <a class="link info"
      >FOTO GUIDE <img src="/assets/icons/info-dark.svg" alt="info-icon"
    /></a>
  </div>
  <div class="flow-step">
    <h2>2</h2>
    <h3>Wähle einen Style</h3>
    <p>
      Wähle einen aus vielen Künstlern und wende Ihren Art-Style auf dein Bild
      an
    </p>
    <a class="link design"
      >DESIGN <img src="/assets/icons/paint.svg" alt="info-icon"
    /></a>
  </div>
  <div class="flow-step">
    <h2>3</h2>
    <h3>Bestelle dein Meisterwerk</h3>
    <p>
      Wo willst du deinen Vierbeiner verewigen? In der Küche? Im Schlafzimmer?
    </p>
    <a class="link info"
      >ANGEBOT <img src="/assets/icons/info-dark.svg" alt="info-icon"
    /></a>
  </div>
</div>

<!-- <img class="wave" src="/assets/images/wave-background.svg" alt="" /> -->
