@import "../../../colors.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $darkest-font-color;
}

.slider {
  display: block;
  flex: 1;
  transform: translateY(-15px);
}

.container {
  padding: 0;
  background-color: white;
}

button.finished-btn {
  display: none;
}

.applying-style {
  transition: 500ms;
  background-color: black;
  .selected-image {
    opacity: 0.5;
  }
}

@media (min-width: 720px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1000px) {
  :host {
    flex-direction: row;
  }

  .gray-background-box {
    width: calc(100% - 25rem);
    height: 40%;
    position: absolute;
    background-color: $alice-blue;
    bottom: 0;
    right: 0;
  }

  .container {
    order: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 25rem);
    margin: auto;
    max-width: 720px;
    position: relative;
    right: 0;
  }

  .slider {
    flex: none;
    width: 40%;
    max-width: 25rem;
    order: 1;
  }

  .square-ratio {
    border-radius: 5px;
  }

  img {
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
  }

  button.finished-btn {
    display: block;
    margin-top: 2rem;
    outline: none;
    background-color: $primary-color;
    border: none;
    font-family: m-bold;
    border-radius: 3px;
    font-size: 1.2rem;
    color: aliceblue;
    padding: 0.8rem;
    cursor: pointer;
    transition: 200ms;
    height: unset;
    width: 100%;
    &.low-visibility {
      opacity: 0.5;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
