<div class="gray-background-box"></div>
<div class="container">
  <div class="square-ratio" [class.applying-style]="isApplyingStyle">
    <img class="selected-image" [src]="imageSrc" alt="" />
    <img
      *ngIf="isApplyingStyle"
      src="/assets/icons/loading-spinner.svg"
      alt=""
    />
  </div>
  <button class="finished-btn">Fertig</button>
</div>

<create-image-style-slider
  *ngIf="false"
  [contentImages]="contentImages"
  [styleImages]="styleImages"
  [isUploadingImage]="isUploadingImage"
  [uploadedImage]="'/assets/images/upload-picture.svg' != imageSrc"
  (selectedStyleIndexChange)="selectedStyle($event)"
  (addImageBtnClicked)="openUploadModal()"
  class="slider"
></create-image-style-slider>

<create-submit
  *ngIf="true"
  [styleImageName]="'Jungle'"
  [styleImageUrl]="
    'https://storage.googleapis.com/petai-bdd53.appspot.com/style-images/abstract.jpg'
  "
  (submitForm)="onSubmitForm($event)"
>
</create-submit>

<create-upload-modal
  *ngIf="showUploadModal"
  (uploadedImage)="uploadImage($event)"
  [@slideInOutBottom]
></create-upload-modal>

<div class="only-mobile-info">
  <p>
    Sorry, this website is only available for mobile devices at the moment :/
  </p>
</div>
