<div class="gray-background-box"></div>
<div class="container">
  <div class="square-ratio" [class.applying-style]="isApplyingStyle">
    <img class="selected-image" [src]="imageSrc" alt="" />
    <img
      *ngIf="isApplyingStyle"
      src="/assets/icons/loading-spinner.svg"
      alt=""
    />
  </div>
  <button class="finished-btn">Fertig</button>
</div>

<create-image-style-slider
  [contentImages]="contentImages"
  [styleImages]="styleImages"
  [isUploadingImage]="isUploadingImage"
  [uploadedImage]="'/assets/images/upload-picture.svg' != imageSrc"
  (changeSelectedStyleIndex)="onChangeSelectedStyleIndex($event)"
  (clickAddImageButton)="toggleUploadModal(true)"
  (submitForm)="onSubmitForm($event)"
  class="slider"
></create-image-style-slider>

<create-upload-modal
  *ngIf="shouldShowUploadModal"
  (selectFile)="onSelectFile($event)"
  (closeModal)="toggleUploadModal(false)"
  [@slideInOutBottom]
></create-upload-modal>

<create-response-modal
  *ngIf="shouldShowResponseModal"
  [hasCreatedNewDocument]="hasCreatedNewDocument"
  [submittedImagesCount]="submittedImagesCount"
  [maxSubmittedImagesCount]="maxSubmittedImagesCount"
  (closeModal)="toggleResponseModal(false)"
  (clickSendAnotherButton)="onClickSendAnotherButton()"
  [@slideInOutBottom]
></create-response-modal>

<div class="only-mobile-info">
  <p>
    Sorry, this website is only available for mobile devices at the moment :/
  </p>
</div>
