<div class="photo-guide-wrapper" [class.withImage]="displayExampleImage">
  <img
    *ngIf="displayExampleImage"
    class="demo-image"
    src="/assets/images/photo-guide-dog.jpg"
    alt=""
  />
  <div class="info-text">
    <ul>
      <h2 *ngIf="displayHeader">Ein paar Tipps für das perfekte Foto</h2>
      <li>
        <img class="decorater" src="/assets/icons/green-checkmark.svg" alt="" />
        Nimm das Foto auf Augenhöhe mit deinem Tier auf
      </li>
      <li>
        <img class="decorater" src="/assets/icons/green-checkmark.svg" alt="" />
        Es funktioniert am besten, wenn nur der Kopf zu sehen ist
      </li>
      <li>
        <img class="decorater" src="/assets/icons/red-x.svg" alt="" />
        Verhindere schlechte Belichtung
      </li>
      <li>
        <img class="decorater" src="/assets/icons/red-x.svg" alt="" />
        Versuche unscharfe oder verwackelte Bilder zu verhindern
      </li>
      <li>
        <img
          class="decorater"
          src="/assets/icons/info-white-light.svg"
          alt=""
        />
        Bilder auf WhatsApp werden runterskaliert
      </li>
    </ul>
  </div>
</div>
