$alice-blue: #edf2f4;
$primary-color: hsl(353, 86%, 54%);
$primary-color-disabled: hsl(353, 43%, 54%);
$secondary-color: #2b2d42;
$manatee-grey: #8d99ae;

$light-dark-font-color: #cbcbcb;

$dark-font-color: #293241;
$darkest-font-color: #1f2530;
